.contenu
{
    background-color: #393328;
    padding: 10px;
    color: white;
}

.haut
{
    display: flex;
    justify-content: space-between;
}

.aventure
{
    font-size: 50px;
    padding: 0px 20px;
}

.onglet
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 15%;
    font-size: 25px;
}